.container {
    display: flex;
    justify-content: center;
}

.header {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    background-color: transparent;
    padding: 40px 0;
    transition: 0.3s;
}

.logo {
    position: absolute;
    left: 167.02px;
    top: 35.02px;
}

.menu {
    position: absolute;
    width: 234px;
    height: 15px;
    left: 1041px;
    top: 37px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
}

.menu a {
    padding: 16px;
    text-decoration: none;
    color: #FFFFFF
}

.background {
    position: absolute;
    background-image: url("../assets/background.png");
    background-size: contain;
    width: 1440px;
    height: 1093px;
    left: 0px;
    top: 0px;
}
.banner {
    position: relative;
    width: 1440px;
    height: 1093px;
    color: white;
    font-family: Source Sans Pro;
 }

 .banner h1 {
    text-align: center;
    margin-top: 220px;
    font-weight: bold;
    font-size: 120px;
    line-height: 151px;
 }

 .banner h2 {
    position: absolute;
    font-size: 32px;
    font-weight: 300;
    top: calc(50% - 40px/2 + 79.5px);
    left: 41.94%;
 }

 .subtitle {
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    left: 41.18%;
    top: calc(50% - 20px/2 - 175.5px);
 }

 .subtitle p {
    display: inline;
    padding-inline-end: 65px;
 }

 .button {
    position: absolute;
    left: 44.38%;
    top: 38.33%;
    border: none;
    cursor: pointer;
    background-color: #c271ff;
    width: 162px;
    height: 44px;
    border-radius: 22px;
    color: white;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 14px;
    filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.5));
}

.pros {
    position: absolute;
    width: 1009px;
    height: 237px;
    left: 217px;
    top: 758px;
}

.pro1 {
    position: absolute;
    left: 217px;
    width: 150px;
  }
  .pro2 {
   position: absolute;
   left: 506px;
   width: 150px;
 }
 .pro3 {
   position: absolute;
   left: 787px;
   width: 150px;
 }
 .pro4 {
   position: absolute;
   left: 1076px;
   width: 150px;
 }
 .pro4 h3, .pro1 h3, .pro3 h3 {
   left: 10%;
 }

  .pros img{
    width: 150px;
    height: 150px;
  }
  .pros p {
    font-style: italic;
    font-size: 16px;
    font-weight: 300;
    position: absolute;
    text-align: center;
    top: 110%;
  }
  .pros h3 {
    position: absolute;
    font-weight: 900;
    top: 90%;
    line-height: 27px;
    text-align: center;
  }